# Virtual Environment
venv/
.venv/
env/

# Environment Variables (DO NOT PUSH API KEYS)
.env

# Python Cache & Artifacts
__pycache__/
*.pyc
*.joblib

# Node / Frontend Build
frontend/node_modules/
frontend/dist/
frontend/.vite/

# OS Specific
.DS_Store
Thumbs.db